* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/* Basic Styling  */

.main-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Header Styling */

header {
    background-color: rgb(252, 186, 4);
    box-shadow: 0 5px 10px rgba(99, 47, 5, 0.713);
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 12vh;
}

.navbar .logo {
    font-size: 3rem;
    color: rgb(99, 48, 5);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.search-container input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    background: transparent;
    border-bottom: 0.2rem solid gray;
    transition: 0.3s ease-in-out;
}

.search-container input:focus {
    border-color: rgb(99, 48, 5);
}

.search-container input:focus::placeholder {
    color: rgb(99, 48, 5);
}

.search-container form {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.serach-btn {
    font-size: 1.5rem;
    border: 2px solid rgb(99, 48, 5);
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    background-color: rgb(155, 74, 7);
    color: rgb(252, 186, 4);
    transition: 0.3s ease-in-out;
}

.serach-btn:hover {
    background-color: rgb(252, 186, 4);
    color: rgb(155, 74, 7);
}

/* Emoji Styling  */

.emoji-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.emoji {
    position: absolute;
    font-size: 2rem;
    animation: floatDown 4s linear forwards;
}

@keyframes floatDown {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

/* BUTTONS SECTION  */

.button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 12vh);
    background-color: rgb(225, 208, 141);
}

.button-container {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
}

.button-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.button-container li {
    list-style: none;
    margin-bottom: 1.5rem;
}

.mood-btn {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    /* margin-bottom: .4rem; */
    border-radius: 0.5rem;
    color: rgb(99, 48, 5);
    background-color: rgb(252, 186, 4);
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.mood-btn:hover {
    background-color: rgb(99, 48, 5);
    color: rgb(252, 186, 4);
}

/* CARD SECTION */

/* LOADING MESSAGE  */
.message {
    text-align: center;
    font-size: 1.5rem;
    color: #444;
    margin-top: 1rem;
}

.card-container {
    background: rgb(225, 208, 141);
    padding-block: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-row {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* background-color: red; */
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background: rgb(241, 243, 244);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 02px 2px 10px rgba(0, 0, 0, 0.587);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.card img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.579);
}

.card h3,
.card p {
    width: 100%;
    text-align: center;
    margin: 0;
}

.card h3 {
    font-size: 1.3rem;
    line-height: 2rem;
}

.card p {
    font-size: 1.4rem;
    text-transform: uppercase;
}

/* Mediaquery for responsive design */

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding: 1rem;
        height: 35vh;
    }

    .logo {
        margin-bottom: 3rem;
        text-align: center;
    }

    /* BUTTONS SECTION */

    .button-section {
        height: 31rem;
        
    }
    .button-container{
        padding-top: 15rem;
        padding-inline: 2rem;
    }

     /* CARD SECTION  */
    .card-row{
        margin-top: 5rem;
        gap: 3rem;
    }
}

/* Media query for mobile devices */

@media screen and (max-width: 600px) {
    .card-row{
        margin-top: 15rem;
    }
}